/************
GENERAL
*************/
img {
	max-width: 100%
}

a {
	text-decoration: none;
}





/************
HEADER
*************/
header{
	width: 100%;
	float: left;
	text-align: center;
}






/*************
NAVIGATION
**************/

nav{
	text-align: center;
}

nav ul {
	list-style: none;
}

nav li{
	display: inline-block;
}


/*************
COLORS
**************/
header {
	background-color: #599a68;
	}
h1, h2 {
	color: #fff;
	
}
nav a{
	color: #fff;
}

a:hover{
	color: red;
}

a:visited{
	color: blue;
}

.selected {
	color: #32673f;
}


/*************
FOOTER
**************/
footer{
	text-align: center;
}